
body{
margin:0;
font-family:'Poppins',sans-serif;
background:#0b0b12;
color:white;
}

header{
text-align:center;
padding:60px 20px;
background:linear-gradient(90deg,#4369e9,#4b0000);
}

h1{
margin:0;
font-size:50px;
}

.genres{
max-width:1200px;
margin:auto;
padding:40px;
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
}

.genre-card{
height:220px;
border-radius:15px;
background-size:cover;
background-position:center;
position:relative;
overflow:hidden;
text-decoration:none;
}

.genre-card:hover{
transform:scale(1.05);
}

.overlay{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.5);
display:flex;
align-items:center;
justify-content:center;
font-size:30px;
}

.catalog{
max-width:1200px;
margin:auto;
padding:40px;
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:25px;
}

.anime-card{
background:#1b1b26;
border-radius:10px;
overflow:hidden;
padding:15px;
padding-bottom:15px;
}

.anime-card img{
width:100%;
height:200px;
object-fit:cover;
}

.anime-card h3{
margin:10px;
}

.anime-card p{
margin:10px;
font-size:14px;
}

.gold{
border:3px solid gold;
box-shadow:0 0 20px gold;
}

.marta{
border:3px solid rgb(199, 20, 125);
box-shadow:0 0 20px rgb(199, 20, 125);
}

.back{
display:block;
margin-top:15px;
color:white;
text-decoration:none;
}

#bg{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
z-index:-1;
}
